.container{
    background-color:blue;
    color:white;
    padding:5px;
    font-size:medium;
    border:2px solid;
    display:flex;
    margin:0;
    justify-content: space-evenly;
    border-radius: 10px;
}

.container2 {
    background-color:blue;
    color:white;
    padding:10px;
    font-size:medium;
    border:2px solid;
    display:flex;
    margin:0;
    justify-content: space-evenly;
    border-radius: 10px;
}

.container3{
    background-color:blue;
    color: white;
    padding:10px;
    border:2px solid;
    display:flex;
    margin:0;
    justify-content: space-evenly;
    border-radius: 10px;
}